.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .post__like {
    display: flex;
    align-items: center;
  }
  
  .post__lik_icon {
    font-size: 20px;
  }
  .post__lik_icon ~.post__lik_icon {
    margin-left:10px;
    margin-right: 5px;
  }